[submodule "3rd_party/glfw"]
	path = 3rd_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rd_party/thread-pool"]
	path = 3rd_party/thread-pool
	url = https://github.com/bshoshany/thread-pool.git
